/* definitions */
@import "./styles/definitions/fonts.css";

/* sections */
@import "./styles/sections/header.css";
@import "./styles/sections/add-book-form.css";

/* general */

*{
    font-family: "Fuse";
    box-sizing: border-box;
    margin: 0;
}

body{
  background-color: aqua;
  display: flex;
  align-items: center;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}